<table class="orderItems">
    <tr>
        <th class="mcnTextContent" style="width: 250px;"><b>{{ 'Name' | trans }}</b></th>
        <th class="mcnTextContent" style="width: 150px;"><b>Sku</b></th>
        <th class="mcnTextContent" style="width: 120px;"><b>{{ 'From' | trans }}</b></th>
        <th class="mcnTextContent" style="width: 100px;"><b>{{ 'To' | trans }}</b></th>
        <th class="mcnTextContent" style="text-align: right; width: 150px;"><b>{{ 'Price (CHF)' | trans }}</b></td>
    </tr>
    {% for date_from, items in order.item_data %}
        {% for item in items %}
            <tr>
                <td class="mcnTextContent" valign="top">
                    {{ item.name }}
                    {% if item.children is defined %}
                        {% for child in item.children %}
                            <br /><span style="font-style: italic;">{{ child.name }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="mcnTextContent" valign="top">
                    {{ item.sku }}
                    {% if item.children is defined %}
                        {% for child in item.children %}
                            <br /><span style="font-style: italic;">{{ child.sku }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="mcnTextContent" valign="top">
                    {{ date_from }}
                </td>
                <td class="mcnTextContent" valign="top">
                    {{ item.date_to }}
                </td>
                <td  style="text-align: right;" class="mcnTextContent" valign="top">
                    {{ item.subtotal_price | number_format(2) }}
                    {% if item.children is defined %}
                        {% for child in item.children %}
                            <br /><span style="font-style: italic;">{{ child.subtotal_price | number_format(2) }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr>
        <td style="line-height:30px;" colspan="4" class="mcnTextContent"><b>{{ 'Subtotal' | trans }}</b></td>
        <td style="text-align: right; line-height:30px;" class="mcnTextContent"><b>{{ order.subtotal_cost | number_format(2) }}</b></td>
    </tr>
    {% if order.amount_subtotal_cost > 0 %}
        <tr>
            <td style="line-height:30px;" colspan="4" class="mcnTextContent"><b>{{ order.amount_subtotal_description }}</b> ({{ order.amount_subtotal_code }})</td>
            <td style="text-align: right; line-height:30px;" class="mcnTextContent"><b>{{ order.amount_subtotal_cost | number_format(2) }}</b></td>
        </tr>
    {% endif %}
    <tr>
        <td style="line-height:30px;" colspan="4" class="mcnTextContent"><b>{{ 'Lieferkosten' | trans }}</b></td>
        <td  style="text-align: right; line-height:30px;" class="mcnTextContent"><b>{{ order.shipping_cost | number_format(2) }}</b></td>
    </tr>
    {% if order.cash_cost > 0 %}
        <tr>
            <td style="line-height:30px;" colspan="4" class="mcnTextContent"><b>{{ 'Barzahlung' | trans }}</b></td>
            <td  style="text-align: right; line-height:30px;" class="mcnTextContent"><b>{{ order.cash_cost | number_format(2) }}</b></td>
        </tr>
    {% endif %}
    <tr>
        <td style="line-height:30px;" colspan="4" class="mcnTextContent"><b>{{ 'Depotkosten' | trans }}</b></td>
        <td style="text-align: right; line-height:30px;" class="mcnTextContent"><b>{{ order.caution_cost | number_format(2) }}</b></td>
    </tr>
    <tr>
        {% set total = 0 %}
        {% if order.cash_cost == 0 %}
            {% set total = (order.subtotal_cost - order.amount_subtotal_cost) + order.shipping_cost + order.caution_cost %}
        {% else %}
            {% set total = (order.subtotal_cost - order.amount_subtotal_cost) + order.shipping_cost + order.caution_cost + order.cash_cost %}
        {% endif %}
        <td style="line-height:30px; font-size: 16px;" colspan="4" class="mcnTextContent"><b>{{ 'Total' | trans }}</b></td>
        <td style="text-align: right; line-height:30px; font-size: 16px;" class="mcnTextContent"><b>{{ total | number_format(2) }}</b></td>
    </tr>
</table>
