<div id="tab{{ catid }}-blog_tabs" class="tab_content_blog_tabs">
    <div class="owl-container">
        <div class="owl">
            {% for content in contents %}
                {% set imagedefault = 0 %}
                {% set countimagedefault = 0 %}
                {% for image in content.images if image.isdefault and image.size200.name == 'image200' and countimagedefault == 0 %}
                    {% set imagedefault = 1 %}
                    {% set countimagedefault = 1 %}
                    <div class='blogtab-item item'>
                        <div class="item-inner first last">
                            <div class="images-container">
                                <a href="/{{ app.request.getLocale() }}/content/{{ content.categoryUrlKey }}/" title="{{ content.title }}" class="product-image">
                                    <img src="/{{ image.size200.path }}{{ image.name }}" alt="{{ content.title }}" />
                                </a>
                            </div>
                            <div class="des-container">
                                <div class="time">
                                    <span class="date">{{ content.createdAt | date('d M') }}</span>
                                </div>
                                <a href="/{{ app.request.getLocale() }}/content/{{ content.categoryUrlKey }}/" title="{{ content.title }}">
                                    <span class="title-blog">{{ content.title }}</span>
                                </a>
                                {{ content.longText | striptags | slice(0, 50)~ '...' }}
                                <a class="readmore" href="/{{ app.request.getLocale() }}/content/{{ content.categoryUrlKey }}/">{{ 'Read more...' | trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if imagedefault == 0 %}
                    <div class='blogtab-item item'>
                        <div class="item-inner first last">
                            <div class="images-container">
                                <a href="/{{ app.request.getLocale() }}/content/{{ content.categoryUrlKey }}/" title="{{ content.title }}" class="product-image">
                                    <img src="/media/placeholder/placeholder200.jpg" alt="{{ content.title }}" />
                                </a>
                            </div>
                            <div class="des-container">
                                <div class="time">
                                    <span class="date">16 Jan</span>
                                </div>
                                <a href="/{{ app.request.getLocale() }}/content/{{ content.categoryUrlKey }}/" title="{{ content.title }}">
                                    <span class="title-blog">{{ content.title }}</span>
                                </a>
                                {{ content.longText | striptags | slice(0, 50)~ '...' }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
