{% set items = app.session.get('basket_items') %}
{% if items|length > 0 %}
    <ol id="cart-sidebar" class="mini-products-list">
        {% for product in items %}
            {% set arr_route_name = navigation.setProductPathFromUrl(product.url_key,'').getProductPathFromUrl() %}
            {% set arr = [] %}
            {% for key,value in arr_route_name %}
                {% set arr = arr|merge({ (key) : (value) }) %}
            {% endfor %}
            {% set str_arr_length = (arr_route_name | length) + 1 %}
            {% set arr = arr|merge({ ('url_key' ~ str_arr_length) : (product.url_key) }) %}
            <li class="item odd">
                {% if product.parent_imagename != '' %}
                    <a class="product-image" href="{{ path('category_product' ~ str_arr_length, arr) }}" title="{{ product.parent_name }}"><img src="/{{ product.parent_imagepath }}{{ product.parent_imagename }}" alt="{{ product.parent_name }}" width="50" height="50" class="img-responsive"/></a>
                    {% else %}
                    <a class="product-image" href="{{ path('category_product' ~ str_arr_length, arr) }}" title="{{ product.parent_name }}"><img src="/media/placeholder/placeholder50.jpg" title="" class="img-responsive"/></a>
                    {% endif %}
                <div class="product-details">
                    <a class="btn-remove" href="{{ path('remove_cart', {'id': product.url_key }) }}" title="{{ 'Supprimer cet élément' | trans }}" onclick=""><i class="fa fa-times" aria-hidden="true"></i></a>
                    <p class="product-name"><a href="{{ path('category_product' ~ str_arr_length, arr) }}">{{ product.parent_name }}</a></p>
                    <p class="product_price">{{ common.getCurrencyCode() }} {% set parent_subtotal = 0 %}{% for p_price in product.parent_price %} {% set parent_subtotal = parent_subtotal + p_price %} {% endfor %}{{ parent_subtotal | number_format(2) }}</p>
                    <p class="sidebar-dates">
                        {% for datefrom_dateto in product.dates %}
                            {{ datefrom_dateto }}<br />
                        {% endfor %}
                    </p>
                </div>
            </li>
            {% set i = 1 %}
            {% for child in product.children %}
                <li class="item odd">
                    <span class="product-image-addkidlou">
                        {% if child.children_imagename != '' %}
                            <img src="/{{ child.children_imagepath }}{{ child.children_imagename }}" alt="{{ child.children_name }}" width="30" height="30" class="img-responsive">
                        {% else %}
                            <img src="/media/placeholder/placeholder50.jpg" width="30" height="30"  title="{{ child.children_name }}" class="img-responsive"/>
                        {% endif %}
                    </span>
                    <div class="product-details">
                        <a class="btn-remove" href="{{ path('remove_cart', { 'id' : product.url_key, 'additional_id' : child.children_url_key }) }}" title="{{ 'Supprimer cet élément' | trans }}" onclick=""><i class="fa fa-times" aria-hidden="true"></i></a>
                        <p class="product-name">{{ child.children_name }}</p>
                        <p class="product_price">{{ common.getCurrencyCode() }} {% set children_singleprice = 0 %}{% for c_price in child.children_price %} {% set children_singleprice =  children_singleprice + c_price %} {% endfor %}{{ children_singleprice | number_format(2) }}</p>
                    </div>
                </li>
            {% endfor %}
        {% endfor %}
    </ol>
    <div class="top-subtotal">{{ 'Sous-total'|trans }} : {{ common.getCurrencyCode() }} {{ app.session.get('price_subtotal')|number_format(2) }}</div>
    <div class="actions">
        <button class="button" type="button" title="' . $this->translator->trans('Commander') . '" onclick="setLocation('{{ path('zone_area') }}')">
            <span><span>{{ 'Commander'|trans }}</span></span>
        </button>
    </div>
{% else %}
    <p class="empty">{{ 'Votre panier est vide' | trans }}</p>
    <div class="top-subtotal">{{ 'Sous-total' | trans }}: {{ common.getCurrencyCode() }} {{ '0'|number_format(2) }}</div>
{% endif %}
