<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container admin-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">{{ 'jomisol' | trans }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('admin_product_list') }}">{{ 'Products' | trans }}</a></li>
                <li><a href="{{ path('admin_cms_index') }}">{{ 'CMS' | trans }}</a></li>
                <li><a href="{{ path('admin_user_list') }}">{{ 'Backend Users' | trans }}</a></li>
                <li><a href="{{ path('admin_slider_index') }}">{{ 'Sliders' | trans }}</a></li>
                <li><a href="{{ path('admin_payment_index') }}">{{ 'Payments' | trans }}</a></li>
                <li><a href="{{ path('admin_mail_index') }}">{{ 'Mail' | trans }}</a></li>
                <li><a href="{{ path('admin_order_list') }}">{{ 'Orders' | trans }}</a></li>
                <li><a href="{{ path('admin_upload_list') }}">{{ 'Import' | trans }}</a></li>
                <li><a href="{{ path('admin_deliver_index') }}">{{ 'Deliver' | trans }}</a></li>
                <li><a href="{{ path('admin_gift_list') }}">{{ 'Gift' | trans }}</a></li>
                <li><a href="{{ path('admin_logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'Log out' | trans }}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
        <div class="admin-user-info">
            <div class="admin-user-icon"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</div>
        </div>
    </div>
</nav>
