<div id="tab{{ catid }}-category_tabs" class="tab_content_category_tabs">
    <div class="owl-container">
        <div class="owl">
            {% for product in products %}
                {% set imagedefault = 0 %}
                {% set countimagedefault = 0 %}

                {% set arr_route_name = navigation.setProductPathFromUrl(product.urlKey,'').getProductPathFromUrl() %}
                {% set arr = [] %}
                {% for key,value in arr_route_name %}
                    {% set arr = arr|merge({ (key) : (value) }) %}
                {% endfor %}
                {% set str_arr_length = (arr_route_name | length) + 1 %}
                {% set arr = arr|merge({ ('url_key' ~ str_arr_length) : (product.urlKey) }) %}

                {% for image in product.images if image.isdefault and image.size.name == 'image200' and countimagedefault == 0 %}
                    {% set imagedefault = 1 %}
                    {% set countimagedefault = 1 %}
                    <div class='categorytab-item item'>
                        <div class="item-inner first last">
                            <div class="images-container">
                                {% for description in product.descriptions if common.getLanguage() == description.lang %}
                                    <a href="{{ path('category_product' ~ str_arr_length, arr) }}" title="{{ description.name }}" class="product-image">
                                        <img src="/{{ image.size.path }}{{ image.name }}" alt="{{ description.name }}" />
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="des-container-catslider">
                                <h2 class="product-name">
                                    {% for description in product.descriptions if common.getLanguage() == description.lang %}
                                        <a href="{{ path('category_product' ~ str_arr_length, arr) }}" title="{{ description.name }}">{{ description.name }}</a>
                                    {% endfor %}
                                </h2>
                                <div class="price-box">
                                    <div class="price-boxs">
                                        <span class="regular-price">
                                            <span class="price">CHF {{ product.price.value | number_format(2) }} / {{ 'day' | trans }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if imagedefault == 0 %}
                    <div class='categorytab-item item'>
                        <div class="item-inner first last">
                            <div class="images-container">
                                {% for description in product.descriptions if common.getLanguage() == description.lang %}
                                    <a href="{{ path('category_product' ~ str_arr_length, arr) }}" title="{{ description.name }}" class="product-image">
                                        <img src="/media/placeholder/placeholder200.jpg" alt="{{ description.name }}" />
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="des-container-catslider">
                                <h2 class="product-name">
                                    {% for description in product.descriptions if common.getLanguage() == description.lang %}
                                        <a href="{{ path('category_product' ~ str_arr_length, arr) }}" title="{{ description.name }}">{{ description.name }}</a>
                                    {% endfor %}
                                </h2>
                                <div class="price-box">
                                    <div class="price-boxs">
                                        <span class="regular-price">
                                            <span class="price">CHF {{ product.price.value | number_format(2) }} / {{ 'day' | trans }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
