{% extends 'base_test.html.twig' %}

{% block title %} {{ 'Checkout' | trans }} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pagetitle %} {{ 'Checkout' | trans }} {% endblock %}
{% block body %}
    <section class="box info section-checkout">
        <div class="row">
            <form class="send-order" action="{{ path('checkout_order') }}" target="overlay-iframe" method="POST">
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-title"><h1>{{ '4 Review your order' | trans }}</h1></div>
                <table id="shopping-cart-table" class="data-table cart-table">

                    <tfoot>
                        <tr class="first last">
                            <td class="a-right last" colspan="4">
                                <button id="empty_cart_button" class="button btn-empty reserved-order-test" type="button" title="{{ 'Reservieren' | trans }}">
                                    <span>
                                        <span>{{ 'Reservieren' | trans }}</span>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block bodyoverlay %}
    <div id="bodyoverlay" data-iframe-message="{{ 'Daten werden bearbeitet' | trans }}">
        <iframe name="overlay-iframe" id="overlay-iframe" src="" style=""></iframe>
    </div>
</div>
{% endblock %}





