<div class="calendar-dates">
    <table class="table table-bordered calendar-kidlou-table" data-calendar-month-id="{{ calendar.MonthCurrent }}" data-calendar-year-id="{{ calendar.YearCurrent }}" data-calendar-url="{{ path('calendar_index_index') }}">
        <thead>
            <tr>
                <td class="kidlou-arrow-left">
                    {% if calendar.MonthCurrent > nowMonth and calendar.YearCurrent == nowYear or calendar.YearCurrent > nowYear %}
                        <a class="calendar-url-next-before" href="{{ path('calendar_index', { 'year': calendar.YearBefore, 'month': calendar.MonthBefore, 'product_id' : product_id }) }}">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td class="calendar-title" colspan="5">{{ calendar.MonthName }} {{ calendar.YearCurrent }} <img style="display:none;" src="/media/icons/ajax-loader-16x16.gif" /></td>
                <td class="kidlou-arrow-right">
                    <a class="calendar-url-next-before" href="{{ path('calendar_index', { 'year': calendar.YearAfter, 'month': calendar.MonthAfter, 'product_id' : product_id }) }}">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            <tr>
                {% for day in calendar.WeekDays %}
                    <th>
                        <strong>{{ day.Name }}</strong>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
        <script type="text/javascript">
            var days = new Array();
            {% set daystatus = '' %}
            {% for day in calendar.getBeforeDays() %}
                {% if day.getFromCss != '' %}
                    {% set daystatus = 'from-reserved' %}
                {% elseif day.getToCss != '' %}
                    {% set daystatus = 'to-reserved' %}
                {% else %}
                    {% if daystatus == 'from-reserved' %}

                    {% endif %}
                    {% set daystatus = day.getCss() %}
                {% endif %}
                    days[{{ day.getDate() }}] = {{ daystatus }};
            {% endfor %}
            {% for day in calendar.getDays() %}
                days[{{ day.getDate() }}] = {{ day.getCss() }}-{{ day.getToCss() }}-{{ day.getFromCss() }};
            {% endfor %}
            {% for day in calendar.getAfterDays() %}
                days[{{ day.getDate() }}] = {{ day.getCss() }}-{{ day.getToCss() }}-{{ day.getFromCss() }};
            {% endfor %}
        </script>
        {% if beginDays > 0 %}
            {% for i in 1..beginDays %}
                <td class="emptydeliver">&nbsp;</td>
            {% endfor %}
        {% endif %}
        {% for day in calendar.getDays() %}
            <td id="{{ day.getDate() }}" class="{{ day.getCss() }}" style="padding:0px;">
                <div class="{{ day.getToCss() }} reserved-from" style="float:left; width:50%; padding: 8px 0 8px 8px; text-align:right;">{{ day.getArrDay()[0] }}</div>
                <div class="{{ day.getFromCss() }} reserved-to" style="float:left; width:50%; padding: 8px 8px 8px 0; text-align:left;" >{{ day.getArrDay()[1] }}</div>
            </td>
            {% if day.DayId % countDayWeek == moduloWeek %}
                </tr>
                <tr>
                {% endif %}
            {% endfor %}
            {% if lastDays > 0 %}
                {% for i in 1..lastDays %}
                    <td class="emptydeliver">&nbsp;</td>
                {% endfor %}
            {% endif %}

        </tr>
        </tbody>
    </table>
    <div id="bodyoverlay-calendar">
        <div id="bodyoverlay-box-calendar"></div>
    </div>
</div>
