{% extends 'base.html.twig' %}
{% block title %}
    {{ product.getName }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="box info">
        <div class="product-grid-detail" data-product-id="{{ product.getProductId }}">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <p class="product-image">
                        {% for image in product.getImages if image.getIsDefault %}
                            <img src="/{{ image.getName }}" title="{{ product.getName }}" class="img-responsive"/>
                        {% endfor %}
                    </p>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <div class="product-name">
                        <h1>{{ product.getName }}</h1>
                    </div>
                    <div class="description">
                        <div class="std">
                            {{ product.getLongText | raw }}
                        </div>
                    </div>
                    <div class="box-container2">
                        <div class="price-box">
                            <span id="product-price" class="regular-price">
                                <span class="price">{{ common.getCurrencyCode() }} {{ product.getPrice | number_format(2) }} / {{ 'day' | trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="box-container1">
                        <div class="sku">
                            <label>product code:</label>
                            {{ product.getSku }}
                        </div>
                    </div>
                    {% if product.getChildren|length > 0 %}
                        <div class="box-container1">
                            <div class="additional-title">
                                <h2>{{ 'Additional Product' | trans }}</h2>
                            </div>
                            <div class="row">
                                {% for child in product.getChildren %}

                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="box-border-gray">
                                            <input name="additionalproduct[]" value="{{ child.getId }}" type="checkbox">
                                            {% if child.getImages | length > 0 %}
                                                {% for image in child.getImages %}
                                                    <img id="image" class="img-center" src="/{{ image.getName }}" alt="" title="">
                                                {% endfor %}
                                            {% endif %}
                                            <div class="txt-addproduct">
                                                <p class="txt-center"><span>{{ child.getName }}</span></p>
                                                <p class="txt-center">
                                                    <span id="addproduct-1">{{ common.getCurrencyCode() }} {{ child.getPrice | number_format(2) }} / {{ 'day' | trans }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}
                    <div class="box-container1">
                        <div class="kidlou-calendar" data-carturl="{{ path('add_cart', {'id': product.getUrlKey}) }}">
                            {{ calendar.getHtmlInputFromTo(product.getProductId) | raw }}
                            <div class="calendar-dates-show">{{ calendar.getHtmlCalendar(product.getProductId) | raw }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-collateral">
                    <div class="col-sm-12 col-xs-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs product-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">{{ 'Caractéristiques' | trans }}</a></li>
                            <li role="presentation"><a href="#technicaldesc" aria-controls="technicaldesc" role="tab" data-toggle="tab">{{ 'Eléments techniques' | trans }}</a></li>
                            <li role="presentation"><a href="#instructions" aria-controls="instructions" role="tab" data-toggle="tab">{{ "Notice d'utilistation" | trans }}</a></li>
                            <li role="presentation"><a href="#upsellprod" aria-controls="upsellprod" role="tab" data-toggle="tab">{{ "Upsell Products" | trans }}</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content kidlou-tab-content">
                            <div role="tabpanel" class="tab-pane active" id="properties">
                                <div class="std">
                                    {{ product.getShortText | raw }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="technicaldesc">
                                <div class="std">
                                    {{ product.getIndicies | raw }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="instructions">
                                <div class="std">
                                    {% if product.getAccessoires starts with 'PDF_' %}
                                        <a href="{{ path('pdf_product', {'id': product.getUrlKey }) }}">
                                            <img src="/media/icons/pdf_24x24.png">
                                            {{ 'Notice_utilisation' | trans }}
                                        </a>
                                    {% else %}
                                        {{ product.getAccessoires }}
                                    {% endif %}
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="upsellprod">
                                <div class="std">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}

{% block bodyoverlay %}
    <div id="bodyoverlay">
        <div id="bodyoverlay-box"></div>
    </div>
{% endblock %}
